{% load static %}

<html lang="fr">
    <head>
        <title>LITrevu - {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    </head>
    <body>
        <div class="main-container">
            <header>
                <img src="{% static 'authentication/logoblanc.png' %}" alt="Logo LITrevu" class="logo">
            </header>
            <main>
                {% block default_messages %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                            <a class="alert-close" href="{{ request.get_full_path }}">&times;</a>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endblock default_messages %}        
                {% block content %}
                {% endblock %}
            </main>
            <footer></footer>
        </div>
    </body>
</html>