{% extends 'authentication/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h1>Vous devez être connecté pour accéder à cette page</h1>
<div class="home-container">
  <div class="login">
    <h2>Connectez-vous maintenant</h2>
    <form action="" method="post">
      <div class="form-inputs">
        {% csrf_token %}
        {{ form }}
    </div>
      <input type="submit" value="Se connecter" class="button">
      <h2>Pas encore inscrit ? C'est par ici ! </h2>
    <a class="button" href="{% url 'register' %}">S'inscrire</a>
  </div>
</div>



{% endblock %}