{% extends 'reviews/base.html' %}

{% block content %}


<div class="review-container">
    <h2>Créer une critique</h2>
    {% if ticket %}
        <div class="ticket-snippet">
            <h5>Vous êtes en train de poster en réponse à :</h5>
            {% include 'reviews/display_ticket.html' with post=ticket origin="review" %}
        </div>
        <form enctype="multipart/form-data" action="" method="post">
            <div class="form-inputs">
                {% csrf_token %}
                {{ review_form }}
            </div>
            <input type="submit" value="Envoyer" class="button">
        </form>
    {% elif ticket_form %}
    <form enctype="multipart/form-data" action="" method="post">
        <div class="form-inputs">
            {% csrf_token %}
            {{ ticket_form }}
            {{ review_form }}
        </div>
        <input type="submit" value="Envoyer" class="button">
    </form>
    {% endif %}
    
</div>

{% endblock %}